@import url("https://fonts.googleapis.com/css?family=Sofia&display=swap");
.meal-of-day {
  text-align: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url("/images/wallpaper3.jpg");
  padding: 50px 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  text-align: center;
  color: white;
  font-family: "Sofia", cursive;
}

.meal-of-day h1 {
  color: #80ffb4;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  font-family: "Sofia", cursive;
}

.meal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  text-align: left;
}

.meal-image img {
  width: 600px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.meal-details h2 {
  color: red;
  font-size: 28px;
  margin-bottom: 10px;
  font-family: "Sofia", cursive;
}

.prep-info p {
  font-size: 16px;
  margin: 5px 0;
  color: white;
}

.meal-details h3 {
  margin-top: 20px;
  color: red;
  font-size: 25px;
  font-weight: bold;
}

.meal-details ul {
  list-style-type: "🍴 ";
  padding-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  color: white;
  columns: 2;
  column-gap: 30px;
}

.meal-details li {
  margin: 4px 0;
}

.fade-in {
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 900px) {
  .meal-grid {
    grid-template-columns: 1fr;
  }
  .meal-details ul {
    columns: 1;
  }
}
